<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">jdbc:postgresql://169.254.6.114:5432/infinitydb</property>
		<property name="hibernate.connection.username">entourage</property>
		<property name="hibernate.connection.password">entourage</property>
		<property name="javax.persistence.validation.mode">none</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- List of XML mapping files -->
		<mapping resource="EntourageUser.hbm.xml" />
		<mapping resource="S3FileImageUpload.hbm.xml" />

	</session-factory>
</hibernate-configuration>